body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

button {
    height: 50px;
    margin: 2px;
    font-size: 1.2em;
    border-style: none;
    border-radius: 15px;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: #003bb1;
    cursor: pointer;
    border: 2px solid rgb(0, 238, 255);
}

.calculator {
    position: relative;
    top: 150px;
    margin: 0 auto;
    max-width: 400px;
   
}

.tombol {
    display: grid;
    grid-template-columns:90px 90px 90px 90px;
    margin:0 auto;
    background-color: #193366;
    padding: 30px 20px;
}

.tombol > button:nth-child(1) {
    grid-column: 1/4;
}

.tombol > button:nth-child(17) {
    grid-column: 3/5;
}

.operator {
    background-color: #a4b0ca;
}

.number {
    background-color: #7094db;
}

.screen {
    position: relative;
    height: 80px;
    max-width: 100%;
    text-align: right;
    padding: 10px 0px;
    font-size: 25px;
    background-color: #d6e0f5;
}

.input {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 5px;
    right:0;
}

.total{

    position: absolute;
    right:0;
    margin:5px;
    top:0;
    padding:0;
}